.banner {
    min-height: 896px;
    background-color: $red-color;
    position: relative;
    overflow: hidden;
    &__title{
        display: block;
        position: absolute;
        margin: 0 auto;
        padding-right: 200px;
        padding-left: 200px;
        top: 220px; 
        font-weight: 700;
        font-size: 120px;
        font-family: 'Londrina Shadow';
        color: $text-color;
        text-align: center;
       
    }
    &__overlay {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 3.5rem;
       
    }
    &__box_first {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        animation: moveBanner1 10s linear infinite;
    }
    &__box_second {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        transform: translateX(10%);
        animation: moveBanner1 7s linear infinite;
       
        
    }
    &__text {
        display: block;
        width: 350px;
        font-weight: 400;
        font-size: 60px;
        font-family: 'Londrina Shadow';
        line-height: 45px;
        rotate: -5deg;
        color: rgba(255, 255, 255,.4);
        
    }
}