.button {
    height: 50px;
    background: $red-color;
    color: $text-color;
    padding: 15px 24px;
    border: none;
    border-radius: 10px;
    font-family: 'Nunito';
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    &:hover {
        background: rgb(160, 36, 36);
        transition: background-color 0.3s;
    }
}