.featured {
    min-height: 400px;
    background-color: $main-color;
    padding-top: 160px;
    padding-bottom: 80px;
    &__title {
        font-weight: 900;
        font-size: 40px;
        color: $red-color;
        text-align: center;
    }
    &__carousel {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        &__item {
            height: 90px;
        }
    }
}