.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-color;
    &__navbar {
        display: flex;
        justify-content: space-between;
        
    }
    &__link{
        display: block;
        color:  black;
        font-family: 'Londrina Shadow';
        font-weight: 700;
        font-size: 24px;
        width: 100px;
        &:hover {
            list-style-type: none;
            text-decoration: none;
            color: #CC2A41;
        }

    }
    &__text{
        display: block;
        font-family: 'Londrina Shadow';
        color:  #CC2A41;
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        cursor: pointer;
        &:hover {
            animation-name: shake;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-iteration-count: 1;
        }
        
    }
}
