.social-gallery {
    min-height: 1027px;
    background-color: $red-color;
    padding: 120px 80px 120px 80px;
    overflow: hidden;
    &__heading {
        font-weight: 700;
        font-size: 112px;
        line-height: 168px;
        font-family: 'Londrina Shadow';
        color: $text-color;
        text-align: center;
    }
    &__text {
        margin-top: 48px;
        margin: 0 auto;
        width: 800px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $text-color;
    }
    &__slides {
        margin-top: 80px;
        
    }
    &__field {
        display: flex;
    }
    &__slide {
        width: 395px;
        height: 395px;
       margin-right: 25px;
        img {
            width: 395px;
            height: 395px; 
        }
    }
    &__arrows {
        transform: translateY(-220px);
        display: flex;
        justify-content: space-between;
    }
    &__prev-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: $text-color;
        border-radius: 100%;
        img {
            width: 45px;
        }
    }
    &__next-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: $text-color;
        border-radius: 100%;
        img {
            width: 45px;
        }
    }
}