@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Nunito', sans-serif;
    font-family: 'Londrina Shadow';
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}



@import 'blocks/header';
@import 'blocks/hero';
@import 'blocks/button';
@import 'blocks/promo';
@import 'blocks/title';
@import 'blocks/menu';
@import 'blocks/featured';